<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

        <display-name>Microelectronic app</display-name>

        <servlet>
            <servlet-name>controller</servlet-name>
            <servlet-class>star.servlet.Controller</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>controller</servlet-name>
            <url-pattern>/micro</url-pattern>
        </servlet-mapping>
 </web-app>